* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/Фон\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;


}



.header {
   background-color: rgba(0, 0, 0, 0.4); 

}

.header_content {
    width: 1293px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}


.header_logo {
    text-decoration: none;
    color: #fff;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

}

.header_list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-left: auto;
    align-items: center;

    
}

.header_logo:active {
    color: #01813F;
}


.svg_callender:active,
.svg_box:active,
.svg_compas:active {
    fill: #01813F;
}



.header_list::after {
    content: "";
    height: 19px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.4);  
    margin: 15px;

}


.header_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
}

.header_text a {
    text-decoration: none;
    color: #fff;
}

.header_text a:active {
    color: #01813F;
}


.form_content {
    width: 430px;
    background-color: #FFFFFF;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 31px 61px;
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.form_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    
}

.form_link a {
    color: #3CB878;
    text-decoration: none;

}

.form_link a:active {
    text-decoration: underline;
    color: #01813F;
}

.form_content_buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;

}

.button_fb {
    background-color: #305DB8;
    width: 50%;
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;


}

.button_fb:hover{
    background-color: #022263;
    transition: 0.5s;
}

.button_fb_icon {
    background-image: url(./images/F.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    position: relative;
    margin-right: 10px;
}

.button_fb_icon::after {
    display: block;
    content: '';
    height: 28px;
    width: 1px;
    background-color: #0A162F;
    opacity: 10%;
    position: absolute;
    right: -10px;
    transform: translate(-50%, -50%);

}

.button_fb_text {
    font-size: 16px;
    color: #FFFFFF;
    flex-grow: 1;
}

.button_google {
    width: 50%;
    background-color: #DF4A32;
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;

}

.button_google:hover {
    background-color: #AB1F09;
    transition: 0.5s;
}

.button_google_icon {
    background-image: url(./images/G+.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    position: relative;
    margin-right: 10px;

}

.button_google_icon::after {
    display: block;
    content: '';
    height: 28px;
    width: 1px;
    background-color: #0A162F;
    opacity: 10%;
    position: absolute;
    right: -10px;
    transform: translate(-50%, -50%);

}

.button_google_text {
    font-size: 16px;
    color: #FFFFFF;
    flex-grow: 1;
}

.diveder {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #848484;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.diveder::after,
.diveder::before {
    content: '';
    position: absolute;
    width: 142px;
    height: 1px;
    background-color: #F2F2F2;
    top: 50%;

}

.diveder::before {
    left: 0;
}
.diveder::after {
    right: 0;
}



.form_holder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.form_item {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}

.form_item::placeholder  {
    color: #BEBEBE;
}

.form_item:focus {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-color: #F2F2F2; 
    outline: none
}



.checkbox-container {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    display: block;
    position: relative;
    padding: 5px 35px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    
}


.checkbox-container input {
    display: none;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2; 
}

.checkbox-container input:checked + .checkmark:after {
    content: "";
    position: absolute;
    left: 35%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 15px;
    border: solid #3CB878;
    border-width: 0 3px 3px 0;
    transform: rotate(35deg);
}

.checkbox-container input:checked + .checkmark {
    background-color: #FFFFFF; 
}


label a {
    color: #3CB878;
    text-decoration: none;
}
label a:active {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

/* input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #F2F2F2;
       
 } */


  

.form_button {
    background-color: #3CB878;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 20px;
}

.form_button:hover {
    background-color: #01813F;
}

.content_mark {
    padding: 9px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}

